*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */

.container{
    max-width: 1280px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

header, footer{
    margin-bottom: 15px;
}

.col-left, .col-right{
    width: 20%;
    margin-top:15px;
    margin-bottom:15px;
}

.col-left, .col-middle, .col-right{
    float: left;
    min-height: 450px;
}
/* header */


header{
    margin-top: 15px;
    min-height: 100px;
}

.logo{
    width: 170px;
    height: 70px;
    margin-bottom: 20px;
}

li{
    display: inline-block;
    margin: 5px;
}

a{
    text-decoration: none;
    color: #878787;
}

/* main prima parte */

.hero{
    margin-bottom: 15px;
    min-height: 500px;
}

.banner{
    border-radius: 10px;
    object-fit: cover;
}

.title{
    max-width: 420px;
    position: absolute;
    top: 550px;
    left: 200px;
}

/* main seconda parte */



.img-left, .img-right{
    border-radius: 10px;
    width: 256px;
    height: 256px;
}

.img-middle{
    border-radius: 10px;
    width: 738px;
    height: 256px;
}

.box-azzurro{
    width: 100%;
    height: 50px;
}


.col-middle{
    width: calc(60% - 30px);
    margin: 15px;
}

/* footer */

footer{
    background-color: #8801fe;
    margin-top: 10px;
    min-height: 50px;
}